.btn {
  padding: 18px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: monospace;
  cursor: pointer;
}

.btn-number {
  background-color: #FFFBDE;
  color: black;
}

.btn-operator {
  background-color: #D92B8B;
  color: white;
}

.btn-action {
  background-color: #7BCFAB;
  color: black;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  transform: scale(0.96);
}