.display {
  background-color: #FFFBDE;
  color: black;
  font-size: 2rem;
  text-align: right;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  min-height: 70px;
  word-break: break-all;
}
